{% extends 'base.html' %}

{% block title %}Weather App{% endblock %}

{% block content %}

    <div class="find-weather">
        <h1>Find information about weather</h1>
        <div class="input-section">
            <label for="input-city">City:</label>
            <input type="text" id="input-city">
            <label for="input-date-from">Date from:</label>
            <input type="date" id="input-date-from">
            <label for="input-date-to">Date to:</label>
            <input type="date" id="input-date-to">
        </div>
        <button class="button" id="get-weather">Get Weather</button>
    </div>


    <table class="hidden" id="weather-result-table">
        <thead>
        <tr>
            <th>Day</th>
            <th>Maximum Temperature</th>
            <th>Minimum Temperature</th>
            <th>Average Temperature</th>
            <th>Humidity</th>
            <th>Sunrise</th>
            <th>Sunset</th>
        </tr>
        </thead>
        <tbody id="weather-table-data">

        </tbody>
    </table>
    <section class="card-section" id="weather-result-cards">
    </section>
    <div id="pagination"></div>

    <article id="error-window" class="error-window">
        <div class="error-window-header">
            <p>Error</p>
            <button class="close" id="close-error-window"></button>
        </div>
        <div id="error-window-body" class="error-window-body">
        </div>
    </article>
{% endblock %}
